<%= render :partial => 'layouts/org_menu' %>

<h4 style="color: orange">Виды нарушений (<%= @issue_types.count %>)</h4>
<%= link_to 'Новый вид нарушения', new_issue_type_path, :class => 'btn btn-success btn-sm' %>

<table
data-toggle="table"
data-url="issue_types.json"
data-show-columns="true"
data-cache="true" data-search="true" data-show-toggle="true"
data-show-refresh="true" class="table-striped"
data-cookie="true"

data-cookie-id-table="issue_types_<%= @logged_user.login %>"
data-sort-name="id">

    <thead>
    <tr>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="crit_name" data-sortable="true" data-formatter="colorer">Критичность</th>
        <th data-field="name" data-sortable="true">Наименование</th>


        <th data-field="is_enabled" data-sortable="true" data-formatter="activer">Активен?</th>
        <th data-formatter="actions">Действия</th>
    </tr>
    </thead>
</table>
<br>
<script type="text/javascript">
    function actions(value, row) {

        if (row.is_enabled == true) {

            var act = '<a data-confirm="Вы действительно хотите сделать недостуным данный вид нарушения. Все существующие привязки будут сохранены но станут недоступны при создании или обновлении нарушений. В дальнейшем вы сможете задействовать вид  нарушения " class="btn glyphicon glyphicon-off btn-danger  btn-sm" rel="nofollow" data-method="delete" href="' + row.url + '"></a>'
        }
        else {
            var act = '<a class="btn glyphicon glyphicon-ok btn-success  btn-sm" rel="nofollow" data-method="patch" href="' + row.url + '/enable"></a>'
        }

        return '<a class="btn glyphicon glyphicon-edit btn-primary  btn-sm" href="' + row.url + '/edit"></a>' + act
    }

    function activer(value, row) {

        if (value == true)
            return '<i class="glyphicon glyphicon-ok"></i>'
        else
            return '<i class="glyphicon glyphicon-off"></i>'
    }
    function dater(value, row) {
        return row.last_sign_in_at_human
    }
    function colorer(value, row) {

        return '<font style="background-color: ' + row.color + '">' + row.crit_name + '</font>'
    }


</script>


<script type="text/javascript">
    $('#issuetypes').addClass('active');
</script>


