<%= render :partial => 'layouts/org_menu' %>
<h4 style="color: orange">Создание вида нарушения</h4>
<div class="col-lg-5">
    <%= render 'form' %>

    <%= link_to 'К списку видов нарушений', issue_types_path %>
</div>