<ul class="nav nav-pills" >
    <li id="clquartermonth"><%= link_to 'Контрольные листы', control_list_quarters_path %></li>
    <li id="quarterfactors"><%= link_to 'Факторы', control_list_quarter_factors_path %></li>
    <li id="quarterfactorsgroup"><%= link_to 'Группы', control_list_quarter_factor_groups_path %></li>

</ul>

<script type="text/javascript">
    $('#clauarterfactors').addClass('active')
</script>