<%= render :partial => 'control_list_quarter_factors/menu'%>
<h1>Новый фактор</h1>

<%= render 'form' %>

<%= link_to 'К списку', control_list_quarter_factors_path %>

<script type="text/javascript">
    $('#quarterfactors').addClass('active')
</script>