<div class="row">
    <input type="hidden" class="hidden" name="is_enabled[]" value="true">

    <div class="col-md-6"><%= collection_select(:user, :user_id, User.all, :id, :full_name, {:include_blank => 'Ответственный за устранение'}, {:name => 'f_user_id[]', :placeholder => 'Ответственный за устранение', :class => 'form-control input'}) %></div>

    <div class="col-md-3">
        <%= collection_select(:status, :status_id, Status.all, :id, :name, {:include_blank => 'Статус'}, {:name => 'f_status_id[]', :placeholder => 'Статус', :class => 'form-control input'}) %> </div>
</div>

<div class="row">

    <div class="col-md-6">
        <textarea rows="10" name="inconsistence[]" class="form-control input" placeholder="Выявленные несоответствия (заполняется при наличии несоответствий):"></textarea>
    </div>
    <div class="col-md-6">
        <textarea rows="10" name="note_measures[]" class="form-control input" placeholder="Принятые меры по устранению несоответствий:"></textarea>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <input type="text" name="note_due[]" class="form-control input" value="" placeholder="Отметка о выполнении"/>
    </div>

</div>

