<p id="notice"><%= notice %></p>

<p>
  <strong>Form date:</strong>
  <%= @control_list_month.form_date %>
</p>

<%= link_to 'Edit', edit_control_list_month_path(@control_list_month) %> |
<%= link_to 'Back', control_list_months_path %>
