<table class="table table-striped table-hovee">
    <th>№</th>
    <th>Выявил</th>
    <th>Дата проверки</th>
    <th>Нарушитель</th>
    <th>Статус</th>
    <th>Нарушение</th>
    <th>Отвественный</th>
    <th>Дата</th>
    <th>Принятые оперативные меры</th>
    <th colspan="3">Действия</th>


    <tbody id="it">

    <!-- get json with issues -->
    <script type="text/javascript">
        function reloadData() {

            $.getJSON('/issues.json').done(function (json) {
                $("#it").html("");


                $.each(json, function (k, v) {
                    var rowcontent = ''

                    rowcontent += '<td>' + v.id + '</td>'
                    rowcontent += '<td>' + v.author + '</td>'
                    rowcontent += '<td>' + v.created + '</td>'
                    rowcontent += '<td>' + v.violator + '</td>'
                    rowcontent += '<td>' + v.status + '</td>'
                    rowcontent += '<td>' + v.issue_type + '</td>'
                    rowcontent += '<td>' + v.assigned + '</td>'
                    rowcontent += '<td>' + v.due_date + '</td>'
                    rowcontent += '<td>' + v.note_measures + '</td>'
                    rowcontent += '<td><a href="' + v.edit_url + '" class="btn btn-primary btn-sm" >Редактировать</a>'

                    if (v.delete_url != undefined) {

                        rowcontent += '&nbsp;<a data-confirm="Удалить?" rel="nofollow" data-method="delete" href="' + v.delete_url + '" class="btn btn-danger btn-sm" >Удалить</a>'
                    }
                    else {

                        rowcontent += '</td>'
                    }
                    // $("#it tbody").append("<tr><td>" + json.id + "</td></tr>")
                    $("#it").append("<tr>" + rowcontent + "</tr>")

                })

            }).fail(function () {

                console.log('failed to get isssues');
            })
        }
    </script>


    </tbody>
</table>
<script type="text/javascript">
    reloadData();
    setInterval(reloadData, 30000)
</script>