<%= render :partial => 'work/menu' %>
<% unless notice.nil? %>
    <p id="notice" class="alert alert-dismissible alert-success"><%= notice %></p>
<% end %>
<script>
    $('#krest_wassigned').addClass("active")
</script>

<h4 style="color: orange">Список нарушений</h4>

<%= link_to 'Новое нарушение', new_issue_path, :class => 'btn btn-success btn-sm' %>
<br>
<br>
<%= render :partial => 'issues/issues_render' %>