
<script>
    $('#issues').addClass("active")
</script>

<h4 style="color: orange">Список нарушений (<%= @issues.count %>)</h4>

<%= render :partial => 'issues/issues_render',:locals => {:save_name=> 'issues_generic'} %>


