<%= render :partial => 'work/menu' %>

<script>
    $('#krest_owned').addClass("active")
</script>

<h4 style="color: orange">Список нарушений (<%= @issues.count %>)</h4>

<%= link_to 'Новое нарушение', new_issue_path, :class => 'btn btn-success btn-sm' %>
<br>
<br>
<%= render :partial => 'issues/issues_render',:locals => {:save_name=> 'issues_owned'} %>