<%= render :partial => 'layouts/org_menu' %>
<h4 style="color: orange">Редактирование подразделения</h4>
<div class="col-lg-5">
<%= render 'form' %>


<%= link_to 'К списку подразделений', subdivisions_path %>
</div>