<p id="notice"><%= notice %></p>
<h4 style="color: orange">Список пользователей (<%= @users.count %>)</h4>

<%= link_to 'Новый пользователь', new_user_path, :class => 'btn btn-success btn-sm' %>
<br>
<br>

<table
data-toggle="table"
data-url="users.json"
data-show-columns="true"
data-cache="true" data-search="true" data-show-toggle="true"
data-show-refresh="true" class="table-striped"
data-cookie="true"

data-cookie-id-table="users_<%= @logged_user.login %>"
data-sort-name="id">

    <thead>
    <tr>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="first_name" data-sortable="true">Имя</th>
        <th data-field="middle_name" data-sortable="true">Отчество</th>
        <th data-field="last_name" data-sortable="true">Фамилия</th>
        <th data-field="login" data-sortable="true">Логин</th>
        <th data-field="ip" data-sortable="true">IP</th>
        <th data-field="last_sign_in_at" data-sortable="true" data-formatter="dater">Последний вход</th>
        <th data-field="staff_role" data-sortable="true">Роль</th>
        <th data-field="position" data-sortable="true">Должность</th>
        <th data-field="subdivision" data-sortable="true">Подразделение</th>
        <th data-field="is_active" data-sortable="true" data-formatter="activer">Активен?</th>
        <th data-formatter="actions">Действия</th>
    </tr>
    </thead>
</table>
<br>
<script type="text/javascript">
    function actions(value, row) {

        return '<a class="btn glyphicon glyphicon-edit btn-primary  btn-sm" href="' + row.url + '/edit"></a>'
    }

    function activer(value, row) {

        if (value == true)
            return '<i class="glyphicon glyphicon-ok"></i>'
        else
            return '<i class="glyphicon glyphicon-off"></i>'
    }
    function dater(value, row) {
        return  row.last_sign_in_at_human
    }

</script>

<script type="text/javascript">
    $('#users').addClass('active');
</script>
