<p id="notice"><%= notice %></p>
<h1>Список пользователей</h1>

<%= link_to 'Новый пользователь', new_user_path, :class => 'btn btn-success btn-sm' %>
<br>
<br>

<%= render :partial => 'ajax_users' %>

<br>

<script type="text/javascript">
    $('#users').addClass('active');
</script>
