<%= render :partial => 'control_list_quarter_factors/menu' %>

<h4 style="color: orange">Редактирование группы факторов КЛ</h4>

<%= render 'form' %>

<%= link_to 'К списку', control_list_quarter_factor_groups_path %>

