<%= render :partial => 'control_list_quarter_factors/menu' %>

<h1>Listing Control List Quarter Factor Groups</h1>

<table
data-toggle="table"
data-url="control_list_quarter_factor_groups.json"
data-show-columns="true"
data-cache="true" data-search="true" data-show-toggle="true"
data-show-refresh="true" class="table-striped"
data-cookie="true"

data-cookie-id-table="clf_groups_quarter_<%= @logged_user.login %>"
data-sort-name="id">

    <thead>
    <tr>
        <th data-field="order_num" data-sortable="true">Порядок</th>
        <th data-field="name" data-sortable="true">Наименование</th>
        <th data-field="f_count" data-sortable="true">Факторов</th>

        <% if @can_manage_org_structure %>
            <th data-formatter="actions">Действия</th>
        <% end %>
    </tr>
    </thead>
</table>

<br>
<script>
    $('#quarterfactorsgroup').addClass('active')
</script>
<%= link_to 'New Control list quarter factor group', new_control_list_quarter_factor_group_path %>
