<table class="table table-striped table-hovee">
    <th>ID</th>
    <th>UUID</th>
    <th>имя ПК</th>
    <th>ОС</th>
    <th>Пользователь ОС</th>
    <th>Короткое имя</th>
    <th>Комментарий</th>
    <th>Последнее подключение</th>
    <th>Расположение</th>
    <th>Действия</th>


    <tbody id="assignedit">

    <!-- get json with issues -->
    <script type="text/javascript">
        function reloadData() {

            $.getJSON('/auto_work_spaces.json').done(function (json) {
                $("#assignedit").html("");

                console.log("assigned: count",json.assigned.length)
                $.each(json.assigned, function (k, v) {
                    var rowcontent = ''
                    rowcontent += '<td>' + v.id + '</td>'
                    rowcontent += '<td>' + v.uuid + '</td>'
                    rowcontent += '<td>' + v.computername + '</td>'
                    rowcontent += '<td>' + v.os + '</td>'
                    rowcontent += '<td>' + v.os_user + '</td>'
                    rowcontent += '<td>' + v.short_name + '</td>'
                    rowcontent += '<td>' + v.comment + '</td>'
                    rowcontent += '<td>' + v.updated_at + '</td>'
                    rowcontent += '<td>' + v.location + '</td>'
                    rowcontent += '<td><a href="' + v.edit_url + '" class="btn glyphicon glyphicon-edit btn-primary  btn-sm" ></a>'

                    if (v.delete_url != undefined) {

                        rowcontent += '&nbsp;<a data-confirm="Удалить?" rel="nofollow" data-method="delete" href="' + v.delete_url + '" class="btn glyphicon glyphicon-remove btn-danger  btn-sm" >Удалить</a>'
                    }
                    else {

                        rowcontent += '</td>'
                    }
                    // $("#it tbody").append("<tr><td>" + json.id + "</td></tr>")
                    $("#assignedit").append("<tr>" + rowcontent + "</tr>")

                })

            }).fail(function () {

                console.log('failed to get isssues');
            })
        }
    </script>


    </tbody>
</table>
<script type="text/javascript">
    reloadData();
    setInterval(reloadData, 60000)
</script>