<h1>Редактирование АРМ</h1>
  <div class="col-lg-5">
<%= render 'form' %>


<%= link_to 'К списку АРМ', auto_work_spaces_path %>
<script type="text/javascript">
    $('#autoworkspaces').addClass('active');
</script>
  </div>