<% unless notice.nil? %>
    <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>
<h1>Список АРМ</h1>

<p>Не распределенные</p>
<%= render :partial => 'auto_work_spaces/ajax_unassigned' %>



<p>Привязанные</p>
<%= render :partial => 'auto_work_spaces/ajax_assigned' %>
<br>

<script type="text/javascript">
    $('#autoworkspaces').addClass('active');
</script>
