<div class="row">
    <div class="col-lg-6 pull-right">
        <table class="table table-striped">
            <th>Рабочее место</th>
            <th>Завершение первой смены через</th>
            <th>Завершение второй смены через</th>
            <% @workspaces.all.each do |w| %>
                <% name, fs, ls= TurnType.turn_times(w.id) %>
                <tr>
                    <td><%= name %></td>
                    <td>
                        <% if fs<0 %>
                            Завершена
                        <% else %>
                            <%= TurnType.humanize(fs) %>
                        <% end %>
                    </td>
                    <td>
                        <% if ls<0 %>
                            Завершена
                        <% else %>
                            <%= TurnType.humanize(ls) %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>