<ul class="nav nav-pills">
    <li id="turnschemes"><%= link_to 'Схемы', turn_schemes_path %> </li>
    <li id="turntypes"><%= link_to 'Типы', turn_types_path %> </li>

</ul>
<script type="text/javascript">

    $('#turns').addClass('active')
</script>