<%= render :partial => 'turn_types/turns_menu' %>
<div class=" col-lg-6 ">
    <h4 style="color: orange;">Редактирование вида схем</h4>

    <%= render 'form' %>
</div>
<%= link_to 'Back', turn_types_path %>
