<%= render :partial => 'turn_types/turns_menu' %>
<h4 style="color: orange">Типы смен (<%= @turn_types.count %>)</h4>
<%= link_to 'Новый тип смен', new_turn_type_path, :class => 'btn  btn-success  btn-sm' %>
<br>
<br>
<table
data-toggle="table"
data-url="turn_types.json"
data-show-columns="true"
data-cache="true" data-search="true" data-show-toggle="true"
data-show-refresh="true" class="table-striped"
data-cookie="true"
data-row-style="rowStyle"
data-cookie-id-table="turn_types_<%= @logged_user.login %>"
data-sort-name="id">

    <thead>
    <tr>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="name" data-sortable="true">Наименование</th>
        <th data-field="count" data-sortable="true">Количество смен</th>
        <th data-field="first_start_at_h" data-sortable="true">Начало первой смены</th>
        <th data-field="first_duration_h" data-sortable="true">Продолжительность первой смены</th>
        <th data-field="second_start_at_h" data-sortable="true">Начало второй смены</th>
        <th data-field="second_duration_h" data-sortable="true">Продолжительность второй смены</th>

        <th data-formatter="actions">Действия</th>
    </tr>
    </thead>
</table>
<br>
<script type="text/javascript">
    function actions(value, row) {
        return '<a class="btn glyphicon glyphicon-edit btn-primary  btn-sm" href="' + row.url + '/edit"></a>'
    }
    function rowStyle(row, index) {

        if (row.is_day_off == true) {
            return {
                classes: 'info'
            };
        }
        return {
            classes: ''
        };
    }
</script>

<br>
<script type="text/javascript">
    $("#turntypes").addClass("active")
</script>
<br>


