

<h4 style="color: orange">Схемы смен</h4>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turn_types.each do |turn_type| %>
      <tr>

        <td><%= link_to 'Редактировать', edit_turn_type_path(turn_type) %>
        <%= link_to 'Удалить', turn_type, method: :delete, data: { confirm: 'Are you sure?' },:class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать схему смен', new_turn_type_path %>
