<%= render :partial => 'turn_types/turns_menu' %>
<div class=" col-lg-6 ">
    <h4 style="color: orange">Новый тип смен</h4>

    <%= render 'form' %>
    <%= link_to 'К списку типов смен', turn_types_path %>
</div>