<ul class="nav nav-pills">
    <li id="krest_ws"><%= link_to('По рабочим местам', work_user_info_path) %></li>
    <% unless @current_user_id.nil? %>


        <% if @can_manage_org_structure %>
            <li id="krestall"><%= link_to('Посуточно', work_by_day_in_month_path) %></li>
        <% end %>
        <li id="krest_wassigned"><%= link_to('Назначенные', assigned_issues_path) %></li>
    <% end %>
</ul>

<script type="text/javascript">
    $('#krest').addClass('active')
</script>