<h1>User info</h1>
<% if @allow_anon %>
    <%= render :partial => 'work/krest_view' %>
<% else %>
    <b>Работа в анонимном режиме запрещена </b>
    <%end%>
<br>

<% if current_user %>

<% else %>
    <%= link_to 'Авторизация', new_user_session_path, :class => 'btn btn-info' %>
<% end %>

