<%= render :partial => 'layouts/org_menu' %>
<h4 style="color: orange">Новое рабочее место</h4>
<div class="col-lg-5">
    <%= render 'form' %>
    <%= link_to 'К списку рабочих мест', work_spaces_path %>
</div>