<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_work_space_path(@work_space) %> |
<%= link_to 'Back', work_spaces_path %>
<script type="text/javascript">
    $('#workspaces').addClass('active');
</script>
