<ul class="nav nav-pills">
    <li id="factors"><%= link_to 'Факторы',control_list_factors_path %></li>
    <li id="factorsgroup"><%= link_to 'Группы',control_list_factor_groups_path %></li>
    <li id="clmonth"><%= link_to 'Контрольные листы',control_list_months_path %></li>
</ul>

<script type="text/javascript">
    $('#clfactors').addClass('active')
</script>