<%= render :partial => 'control_list_factors/menu' %>
<h1>Редактирование фактора</h1>
<div class="col-lg-5">
    <%= render 'form' %>
</div>
<%= link_to 'Show', @control_list_factor %> |
<%= link_to 'Back', control_list_factors_path %>
<script type="text/javascript">

    $('#factors').addClass('active')
</script>