<%= render :partial => 'control_list_factors/menu' %>


<h4 style="color: orange">Факторы (<%= @control_list_factors.count %>)</h4>
<%= link_to 'Добавить фактор', new_control_list_factor_path, :class => 'btn btn-sm btn-success' %>
<br><br>
<table
data-toggle="table"
data-url="control_list_factors.json"
data-show-columns="true"
data-cache="true" data-search="true" data-show-toggle="true"
data-show-refresh="true" class="table-striped"
data-cookie="true"

data-cookie-id-table="clf_<%= @logged_user.login %>"
data-sort-name="id">
    <thead>
    <tr>
        <th data-field="order_num" data-sortable="true">Порядок</th>
        <th data-field="factor" data-sortable="true">Фактор</th>
        <th data-field="facgroup" data-sortable="true">Группа</th>
        <th data-field="is_active" data-sortable="true" data-formatter="activer">Активен?</th>

        <th data-field="comment" data-sortable="true">Примечание</th>
        <% if @can_manage_org_structure %>
            <th data-formatter="actions">Действия</th>
        <% end %>
    </tr>
    </thead>
</table>
<br>
<script type="text/javascript">
    function actions(value, row) {

        return '<a class="btn glyphicon glyphicon-edit btn-primary  btn-sm" href="' + row.url + '/edit"></a>'
    }

    function activer(value, row) {

        if (value == true)
            return '<i class="glyphicon glyphicon-ok"></i>'
        else
            return '<i class="glyphicon glyphicon-off"></i>'
    }
    function dater(value, row) {
        return row.last_sign_in_at_human
    }


    $('#factors').addClass('active')
</script>
