<%= render :partial => 'control_list_factors/menu'%>
<h1>Новый фактор</h1>
<div class="col-lg-5">
    <%= render 'form' %>

    <%= link_to 'К списку факторов', control_list_factors_path %>
</div>
<script type="text/javascript">

    $('#factors').addClass('active')
</script>