<%= render :partial => 'control_list_quarter_factors/menu' %>
<h4 style="color: orange">Новый квартальный лист</h4>

<%= render 'form' %>

<script type="text/javascript">
    $('#clquartermonth').addClass('active')
</script>
