<%= render :partial => 'layouts/org_menu' %>


<h4 style="color: orange">Список участков (<%= @areas.count %>)</h4>

<%= link_to 'Новый участок', new_area_path,:class => 'btn btn-success btn-sm' %>
<br>
<br>
<table
data-toggle="table"
data-url="areas.json"
data-show-columns="true"
data-cache="true" data-search="true" data-show-toggle="true"
data-show-refresh="true" class="table-striped"
data-cookie="true"

data-cookie-id-table="areas_<%= @logged_user.login %>"
data-sort-name="id">

    <thead>
    <tr>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="name" data-sortable="true">Наименование</th>
        <th data-field="short_name" data-sortable="true">Короткое имя</th>
        <th data-field="management_name" data-sortable="true">Дирекция</th>

        <th data-formatter="actions">Действия</th>
    </tr>
    </thead>
</table>
<br>
<script type="text/javascript">
    function actions(value, row) {
        return '<a class="btn glyphicon glyphicon-edit btn-primary  btn-sm" href="' + row.url + '/edit"></a>'
    }

    function i_types(value, row) {
        var out = '<ul>'
        console.log(row, row.issue_types)
        $.each(row.issue_types, function (k, r) {

            out += '<li>' + r.issue_type.toString() + '</li>'


        });
        out += '<ul>'
        return out;
    }
</script>

<br>
<script type="text/javascript">
    $('#areas').addClass('active');
</script>
