<%= render :partial => 'control_list_factors/menu'%>
<h1>Редактирование группы факторов КЛ</h1>

<%= render 'form' %>

<%= link_to 'Show', @control_list_factor_group %> |
<%= link_to 'Back', control_list_factor_groups_path %>

<script type="text/javascript">
    $('#factorsgroup').addClass('active')
</script>