<%= render :partial => 'control_list_factors/menu' %>


<h4 style="color: orange">Группа факторов (<%= @control_list_factor_groups.count %>)</h4>
<% if @can_manage_org_structure %>
    <%= link_to 'Новая группа факторов', new_control_list_factor_group_path, :class => 'btn btn-sm btn-success' %>
<% end %>
<br><br>
<table
data-toggle="table"
data-url="control_list_factor_groups.json"
data-show-columns="true"
data-cache="true" data-search="true" data-show-toggle="true"
data-show-refresh="true" class="table-striped"
data-cookie="true"

data-cookie-id-table="clf_groups_<%= @logged_user.login %>"
data-sort-name="id">

    <thead>
    <tr>
        <th data-field="order_num" data-sortable="true">Порядок</th>
        <th data-field="name" data-sortable="true">Наименование</th>
        <th data-field="f_count" data-sortable="true">Факторов</th>

        <% if @can_manage_org_structure %>
            <th data-formatter="actions">Действия</th>
        <% end %>
    </tr>
    </thead>
</table>

<br>


<script type="text/javascript">
    function actions(value, row) {

        return '<a class="btn glyphicon glyphicon-edit btn-primary  btn-sm" href="' + row.url + '/edit"></a>'
    }
    $('#factorsgroup').addClass('active')
</script>