<%= render :partial => 'control_list_factors/menu' %>
<h1>Новая группа факторов</h1>

<div class="col-lg-5 ">
    <%= render 'form' %>

    <%= link_to 'К списку групп', control_list_factor_groups_path %>
</div>
<script type="text/javascript">
    $('#factorsgroup').addClass('active')
</script>