<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @exclusion_day.day %>
</p>

<%= link_to 'Edit', edit_exclusion_day_path(@exclusion_day) %> |
<%= link_to 'Back', exclusion_days_path %>
