<ul class="nav nav-pills">
    <li id="issuetypes"><%= link_to 'Виды нарушений', issue_types_path %></li>
    <li id="workspaces"><%= link_to 'Рабочие места', work_spaces_path %></li>
    <li id="subdivisions"><%= link_to 'Подразделения', subdivisions_path %></li>
    <li id="areas"><%= link_to 'Участки', areas_path %></li>
</ul>
<script type="text/javascript">
    $('#org').addClass('active')
</script>