<label>Месяц</label>
<select id="month">
    <option value="01">Январь</option>
    <option value="02">Февраль</option>
    <option value="03">Март</option>
    <option value="04">Апрель</option>
    <option value="05">Май</option>
    <option value="06">Июнь</option>
    <option value="07">Июль</option>
    <option value="08">Август</option>
    <option value="09">Сентябрь</option>
    <option value="10">Октябрь</option>
    <option value="11">Ноябрь</option>
    <option value="12">Декабрь</option>
</select>
<select id="year">
    <% (Date.current.year-2..Date.current.year+5).to_a.each do |a| %>
        <option value="<%= a.to_i %>" <%= 'selected' if Date.current.year.to_i==a.to_i %> ><%= a.to_s %></option>
    <% end %>
</select>

<table class="query-columns" border="0">
    <tbody>
    <tr>
        <td>
            <label for="selected">Дни в схеме</label>
            <select id="selected" name="days[]" multiple="multiple" size="15" style="width: 100%">

            </select>
        </td>
        <td>
            <input type="button" value="→" class="pager" onclick="moveOptions(this.form.selected, this.form.available_columns);">
            </br>
            <input type="button" class="pager" value="←" onclick="moveOptions(this.form.available_columns, this.form.selected);selectAllOptions()">
        </td>
        <td>
            <label for="selected">Доступные дни</label>
            <select multiple="multiple" id="available_columns" name="available_columns" size="15" style="width: 100%">

            </select>
        </td>
    </tr>
    </tbody>
</table>



<script>
    function getdays() {
        var m = $('#month').val()
        var y = $('#year').val()
        $.getJSON('/issues/days_in_month', {month: m, year: y}).done(function (data) {
            console.log(data)
            $('#available_columns').html('')
            for (var i = 1; i <=data; i++) {
                var z = i.toString()
                if (z.length == 1) {
                    z = '0' + z;
                }
                z = z +'.'+ m.toString() + '.' + y.toString()
                $('#available_columns').append("<option value=\'" + z + "\'>" + z + "</option>")
            }
        })
    }

    $(document).ready(function () {
        $('#month').change(function () {
            var m = $(this).val()
            getdays()
        });
        $('#year').change(function () {
            var y = $(this).val()
            getdays()

        });
//
    })

</script>


<script language="JavaScript">
    var NS4 = (navigator.appName == "Netscape" && parseInt(navigator.appVersion) < 5);

    function addOption(theSel, theText, theValue) {
        var newOpt = new Option(theText, theValue);
        var selLength = theSel.length;
        theSel.options[selLength] = newOpt;
    }

    function swapOptions(theSel, index1, index2) {
        var text, value;
        text = theSel.options[index1].text;
        value = theSel.options[index1].value;
        theSel.options[index1].text = theSel.options[index2].text;
        theSel.options[index1].value = theSel.options[index2].value;
        theSel.options[index2].text = text;
        theSel.options[index2].value = value;
    }

    function deleteOption(theSel, theIndex) {
        var selLength = theSel.length;
        if (selLength > 0) {
            theSel.options[theIndex] = null;
        }
    }

    function moveOptions(theSelFrom, theSelTo) {

        var selLength = theSelFrom.length;
        var selectedText = new Array();
        var selectedValues = new Array();
        var selectedCount = 0;

        var i;

        for (i = selLength - 1; i >= 0; i--) {
            if (theSelFrom.options[i].selected) {
                selectedText[selectedCount] = theSelFrom.options[i].text;
                selectedValues[selectedCount] = theSelFrom.options[i].value;
                deleteOption(theSelFrom, i);
                selectedCount++;
            }
        }

        for (i = selectedCount - 1; i >= 0; i--) {
            addOption(theSelTo, selectedText[i], selectedValues[i]);
        }

        if (NS4) history.go(0);
    }

    function moveOptionUp(theSel) {
        var index = theSel.selectedIndex;
        if (index > 0) {
            swapOptions(theSel, index - 1, index);
            theSel.selectedIndex = index - 1;
        }
    }

    function moveOptionDown(theSel) {
        var index = theSel.selectedIndex;
        if (index < theSel.length - 1) {
            swapOptions(theSel, index, index + 1);
            theSel.selectedIndex = index + 1;
        }
    }

    // OK
    function selectAllOptions(id) {
        var select = $('#' + id);
        /*
         for (var i=0; i<select.options.length; i++) {
         select.options[i].selected = true;
         }*/
        select.children('option').attr('selected', true);
    }

</script>

